include _mixins

.subsection#spacing
	.grid.grid--10.spacing-grid
		//- Space
		+spacingRow('Spacing', 'Space', '0', 'space.none', 'ui.0')
		+spacingRow('', '', '2', 'space.xxs', 'ui.2')
		+spacingRow('', '', '4', 'space.xsm', 'ui.4')
		+spacingRow('', '', '8', 'space.sm', 'ui.8')
		+spacingRow('', '', '12', 'space.md', 'ui.12')
		+spacingRow('', '', '16', 'space.lg', 'ui.16')
		+spacingRow('', '', '24', 'space.xl', 'ui.24')
		+spacingRow('', '', '32', 'space.2xl', 'ui.32')
		+spacingRow('', '', '48', 'space.3xl', 'ui.48')

		//- Screen
		+spacingRow('', 'Screen', '16', 'screen.side-margin', 'ui.16')
		+spacingRow('', '', '24', 'screen.column-gap', 'ui.24')
